{{ define "create" }}
{{ template "browser_header" . }}

      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.api.js" }}"></script>      
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.create.js" }}"></script>
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.create.init.js" }}"></script>	 
      
      <link rel="stylesheet" href="{{ JoinPath .Paths.URIPrefix "/css/whosonfirst.browser.edit.css" }}" />

      <div class="container" id="create-feature">

	  <div class="grid-view">
	      
	      <div id="map" class="row" data-map-provider="{{ .MapProvider }}" data-enable-draw="true"></div>
	      
	      <div id="edit">
		  
		  <div id="feedback"></div>
		  		  
		  <form class="form" class="row g-3" id="wof-properties-form">
		      
		      <!--
			  See the way everything is a textarea? That's the default and allows arbitrary
			   JSON to be written if necessary. Eventually the idea is to write and use web
			   components to transform these textareas in to custom elements.
		      -->
		      
		      <div class="col-auto wof-property-block">
			  <label for="wof:name" >wof:name</label>
			  <textarea class="form-control-plaintext wof-property wof-property-string" id="wof:name"></textarea>
		      </div>
		      
		      <div class="col-auto wof-property-block">
			  <label for="wof:placetype" class="form-label">wof:placetype</label>
			  <textarea class="form-control-plaintext wof-property wof-property-placetype" id="wof:placetype"></textarea>
		      </div>
			  
		      <div class="col-auto wof-property-block">
			  <label for="edtf:inception" >edtf:inception</label>
			  <textarea class="form-control-plaintext wof-property wof-property-edtf" id="edtf:inception"></textarea>
		      </div>
		      
		      <div class="col-auto wof-property-block">
			  <label for="edtf:cessation" >edtf:cessation</label>
			  <textarea class="form-control-plaintext wof-property wof-property-edtf" id="edtf:cessation"></textarea>
		      </div>
		      
		      <div class="col-auto wof-property-block">
			  <label for="wof:repo" >wof:repo</label>
			  <textarea class="form-control-plaintext wof-property wof-property-repo" id="wof:repo"></textarea>
		      </div>
		      
		      <div class="col-auto wof-property-block">
			  <label for="mz:is_current" >mz:is_current</label>
			  <textarea class="form-control-plaintext wof-property wof-property-existential" id="mz:is_current"></textarea>
		      </div>

		      {{ range $key, $type := .CustomProperties }}
		      <div class="col-auto wof-property-block">
			  <label for="mz:is_current" >{{ $key }}</label>
			  <textarea class="form-control-plaintext wof-property wof-property-{{ $type }}" id="{{ $key }}"></textarea>
		      </div>
		      {{ end }}
		      
		  </form>
		  
		  <div id="controls" class="row">
		      <button class="btn" id="add">Add property</button>		      
		      <button class="btn" id="save">Save</button>
		  </div>
		  
	      </div>
	  </div>
	  
      </div>
      
{{ template "browser_footer" }}
{{ end }} 
