{{ define "geometry" }}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{ .Id }} | Who's On First</title>
      {{ template "inc_common_meta" . }}
      <!-- <meta property="html:lastmodified" content="" /> -->
	        
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/localforage.min.js" }}"></script>	  
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/slippymap.crosshairs.js" }}"></script>
      
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.www.js" }}"></script>	 
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.render.js" }}"></script>
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.properties.js" }}"></script>
      
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.cache.js" }}"></script>	 
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.uri.js" }}"></script>
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.net.js" }}"></script>
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.namify.js" }}"></script> 	 	 
      
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.geojson.js" }}"></script>	 
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.leaflet.utils.js" }}"></script>
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.leaflet.styles.js" }}"></script>
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.leaflet.handlers.js" }}"></script> 	 	 

      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.maps.js" }}"></script>
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.common.js" }}"></script>

      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.api.js" }}"></script>      
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.geometry.js" }}"></script>
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.geometry.init.js" }}"></script>	 
      
      {{ template "inc_common_css" . }}

      <link rel="stylesheet" href="{{ JoinPath .Paths.URIPrefix "/css/whosonfirst.browser.edit.css" }}" />
      <link rel="stylesheet" href="{{ JoinPath .Paths.URIPrefix "/css/whosonfirst.browser.edit.geometry.css" }}" />            
      
  </head>
  <body data-whosonfirst-uri-endpoint="{{ .Paths.GeoJSON }}">

      <div class="container">
      {{ template "inc_common_header" . }}

      <main class="whosonfirst" id="whosonfirst-place" data-whosonfirst-id="{{ .Id }}">

	  <div class="container">

	      <div class="grid-view">	      
		  <div id="map" class="row" data-map-provider="{{ .MapProvider }}" data-enable-draw="true"></div>

		  <div id="edit">
		      <h4>
			  <span id="wof:name"></span>
		      </h4>

		      <a href="#" id="wof:id"></a>
		      
		      <div id="feedback"></div>

		      <dialog id="feedback-dialog">
			  <p id="feedback-body"></p>
			  <form method="dialog">
			      <button>OK</button>
			  </form>
		      </dialog>

		      <!-- <pre id="geojson"></pre> -->
		      
		      <div id="controls" class="row">
			  <button class="btn" id="save">Save</button>
		      </div>

		  </div>
		  
	      </div>
	  </div>
	  
      </main>

      {{ template "inc_common_footer" .}}

    </div>      
  </body>
</html>
{{ end }}
