{{ define "id" }}
{{ template "browser_header" . }}

      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.id.js" }}"></script>
      <script src="{{ JoinPath .Paths.URIPrefix "/javascript/whosonfirst.browser.id.init.js" }}"></script>	       
      <link rel="stylesheet" href="{{ JoinPath .Paths.URIPrefix "/css/whosonfirst.browser.id.css" }}">
      
      <div class="container">

      <main class="whosonfirst" id="whosonfirst-place" data-whosonfirst-id="{{ .SPR.Id }}" data-whosonfirst-uri="{{ .URI }}" data-whosonfirst-is-alt="0" data-whosonfirst-path="{{ .SPR.Path }}" data-whosonfirst-parent-id="{{ .SPR.ParentId }}" data-latitude="{{ .SPR.Latitude }}" data-longitude="{{ .SPR.Longitude }}" data-min-latitude="{{ .SPR.MinLatitude}}" data-min-longitude="{{ .SPR.MinLongitude }}" data-max-latitude="{{ .SPR.MaxLatitude}}" data-max-longitude="{{ .SPR.MaxLongitude }}">

	  <div class="container">

	      <div id="map" class="row" data-map-provider="{{ .MapProvider }}">
		  <img src="{{ .Paths.GeoJSON }}{{ .URI }}" style="width:inherit; height:inherit; max-height:90%; max-width:90%;" id="map-svg" />
	      </div>

	      <div class="row">
		  <h3>
		      {{ .SPR.Name }}
		      <small><code>{{ .URI }}</code></small>
		  </h3>		  
	      </div>
	      
	      <div class="row">		  
		  {{ template "inc_id_basics" .}}
	      </div>
	      
	      <div class="row">

		  <div class="col">
		      {{ template "inc_id_status" .}}		      
		  </div>

		  <!-- 	      <div class="grid-view">	      -->
		  
		  <div class="col">
		      <div id="whosonfirst-properties" class="sect">
			  <div id="whosonfirst-properties-pretty"></div>	  
			  <div id="whosonfirst-properties-raw"></div>
		      </div>
		  </div>
		  
	      </div>

	  </div>
      
      </main>

      </div>
      
{{ template "browser_footer" . }}
{{ end }}
