{{define "inc_id_status"}}

<div id="whosonfirst-src" class="sect">
</div>

<div id="whosonfirst-wof" class="sect">
</div>

<div id="whosonfirst-status-x" class="sect">

    <details open>
	<summary>
	    <h3 style="display:inline;" id="x-status">status</h3>
	</summary>
	<details-menu>
	    
	    <div class="table-responsive">
		<table class="table table-sm">
		    <tr>
			<th>is current</th>
			<td class="whosonfirst-status">{{ .SPR.IsCurrent.StringFlag }}</td>
			<td class="whosonfirst-status">{{ .SPR.IsCurrent.IsTrue }}</td>
			<td class="whosonfirst-status">{{ .SPR.IsCurrent.IsKnown }}</td>
		    </tr>
		    <tr>
			<th>is ceased</th>
			<td class="whosonfirst-status">{{ .SPR.IsCeased.StringFlag }}</td>
			<td class="whosonfirst-status">{{ .SPR.IsCeased.IsTrue }}</td>
			<td class="whosonfirst-status">{{ .SPR.IsCeased.IsKnown }}</td>
		    </tr>
		    <tr>
			<th>is deprecated</th>
			<td class="whosonfirst-status">{{ .SPR.IsDeprecated.StringFlag }}</td>
			<td class="whosonfirst-status">{{ .SPR.IsDeprecated.IsTrue }}</td>
			<td>{{ .SPR.IsDeprecated.IsKnown }}</td>
		    </tr>
		    <tr>
			<th>is superseded</th>
			<td class="whosonfirst-status">{{ .SPR.IsSuperseded.StringFlag }}</td>
			<td class="whosonfirst-status">{{ .SPR.IsSuperseded.IsTrue }}</td>
			<td class="whosonfirst-status">{{ .SPR.IsSuperseded.IsKnown }}</td>
		    </tr>
		    <tr>
			<th>is superseding</th>
			<td class="whosonfirst-status">{{ .SPR.IsSuperseding.StringFlag }}</td>
			<td class="whosonfirst-status">{{ .SPR.IsSuperseding.IsTrue }}</td>
			<td class="whosonfirst-status">{{ .SPR.IsSuperseding.IsKnown }}</td>
		    </tr>	 	  
		</table>
	    </div>
	    
	</details-menu>
    </details>
    
</div>

<div id="whosonfirst-formats" class="sect">
    <details>
	<summary>
	    <h3 style="display:inline;">formats</h3>
	</summary>
	<details-menu>
    
	    <ul>
		<li><a href="{{ .Paths.PNG }}{{ .SPR.Id }}">png</a></li>
		<li><a href="{{ .Paths.SVG }}{{ .SPR.Id }}">svg</a></li>
		<li><a href="{{ .Paths.GeoJSON }}{{ .SPR.Id }}">geojson</a></li>
	    </ul>
	</details-menu>
    </details>
</div>

{{end}}
