<!DOCTYPE html>
<html lang="en">
  <head>
	  <title>{{ .SPR.Name }} | {{ .SPR.Id }} | Who's On First</title>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta name="referrer" content="origin">
	  <meta http-equiv="X-UA-Compatible" content="IE=9" />
	  <meta name="apple-mobile-web-app-capable" content="yes" />
	  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	  <meta name="HandheldFriendly" content="true" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

	  <meta property="html:lastmodified" content="{{ .LastModified }}" />
	  
	  <meta property="og:type" content="article" />
	  <meta property="og:site_name" content="Who's On First" />
	  <meta property="og:title" content="{{ .SPR.Name }} is a {{ .SPR.Placetype }} in {{ .SPR.Country}}" />
	  <meta property="og:description" content="Its Who's On First ID is {{ .SPR.Id }}" />
	  <meta property="og:image" content="/images/wof-sq-pink.jpg" />

	  <meta property="twitter:card" value="summary" />
	  <meta property="twitter:site" content="@alloftheplaces" />
	  <meta property="twitter:creator" content="@alloftheplaces" />
	  <meta property="twitter:url" content="/id/{{ .SPR.Id }}" />
	  <meta property="twitter:title" content="{{ .SPR.Name }} is a {{ .SPR.Placetype }} in {{ .SPR.Country}}" />
	  <meta property="twitter:description" content="Its Who's On First ID is {{ .SPR.Id }}" />
	  <meta property="twitter:image" content="/images/wof-sq-pink.jpg" />

 	  <link rel="stylesheet" href="/css/mapzen.js.css">
	  <script src="/javascript/mapzen.min.js"></script>
		
	 <script src="/javascript/slippymap.crosshairs.js"></script>


 	 <link rel="stylesheet" href="/css/whosonfirst.www.css">
	 
	 <link rel="stylesheet" href="/css/whosonfirst.spr.css">
	 <script src="/javascript/whosonfirst.spr.js"></script>
	 
  </head>
  <body data-mapzen-apikey="{{ .MapzenAPIKey }}">
    
    <div class="whosonfirst" id="whosonfirst-place" data-whosonfirst-id="{{ .SPR.Id }}" data-whosonfirst-path="{{ .SPR.Path }}" data-whosonfirst-parent-id="{{ .SPR.ParentId }}">
      <div id="map"></div>

      <h2>{{ .SPR.Name }} <small>is a {{ .SPR.Placetype }} in <span>{{ .SPR.Country}}</span> parented by <span>{{ .SPR.ParentId}}</span></small></h2>
      <h3>Its Who's On First ID is {{ .SPR.Id }} <small>and its relative URI is {{ .SPR.Path }}</small></h3>

      <div id="whosonfirst-geom" data-latitude="{{ .SPR.Latitude }}" data-longitude="{{ .SPR.Longitude }}" data-min-latitude="{{ .SPR.MinLatitude}}" data-min-longitude="{{ .SPR.MinLongitude }}" data-max-latitude="{{ .SPR.MaxLatitude}}" data-max-longitude="{{ .SPR.MaxLongitude }}">

	<h4>Geometry</h4>
	
	Its bounding box is <code>{{ .SPR.MinLatitude}}, {{ .SPR.MinLongitude }}, {{ .SPR.MaxLatitude}}, {{ .SPR.MaxLongitude }}</code> and its principal centroid is <code>{{ .SPR.Latitude }}, {{ .SPR.Longitude }}</code>.
      </div>
      
      <div id="whosonfirst-status">

	<h4>Status</h4>
	
	<table>
	  <tr><th>Flag</th><th>Status</th><th>Value</th><th>Confidence</th></tr>
	  <tr><td>Current</td><td>{{ .SPR.IsCurrent.StringFlag }}</td><td>{{ .SPR.IsCurrent.IsTrue }}</td><td>{{ .SPR.IsCurrent.IsKnown }}</tr>
	  <tr><td>Ceased</td><td>{{ .SPR.IsCeased.StringFlag }}</td><td>{{ .SPR.IsCeased.IsTrue }}</td><td>{{ .SPR.IsCeased.IsKnown }}</tr>
	  <tr><td>Deprecated</td><td>{{ .SPR.IsDeprecated.StringFlag }}</td><td>{{ .SPR.IsDeprecated.IsTrue }}</td><td>{{ .SPR.IsDeprecated.IsKnown }}</tr>
	  <tr><td>IsSuperseded</td><td>{{ .SPR.IsSuperseded.StringFlag }}</td><td>{{ .SPR.IsSuperseded.IsTrue }}</td><td>{{ .SPR.IsSuperseded.IsKnown }}</tr>
	  <tr><td>IsSuperseding</td><td>{{ .SPR.IsSuperseding.StringFlag }}</td><td>{{ .SPR.IsSuperseding.IsTrue }}</td><td>{{ .SPR.IsSuperseding.IsKnown }}</tr>	 	  
	</table>
      </div>

      <div>
	<h4>Properties</h4>

	<div id="whosonfirst-properties">
	  <div id="whosonfirst-properties-raw"></div>
	  <div id="whosonfirst-properties-pretty"></div>	  
	</div>
      </div>
      
      <div>

	<h4>Source data</h4>
	
	<ul>
	  <li><a href="https://data.whosonfirst.org/{{ .SPR.Path }}">https://data.whosonfirst.org/{{ .SPR.Path }}</a></li>
	  <li><a href="https://github.com/whosonfirst-data/{{ .SPR.Repo }}/blob/master/data/{{ .SPR.Path }}">https://github.com/whosonfirst-data/{{ .SPR.Repo }}/blob/master/data/{{ .SPR.Path }}</a></li>
	</ul>
	
      </div>
    </div>
    
  </body>
</html>
