/* whosonfirst.spr.css */

body {
    padding: 2em;
    font-family:sans-serif;
    font-weight: 100 !important;
}

ul {
    margin:0px;
    padding:0px;
}

ul li {
    list-style-type:none;
    line-height:1.6em;
    margin-bottom:.5em;
}

table td ul li {
    list-style-type:none;
}

#map {
    height: 350px;
    width: 100%;
    border: solid 3px #000;
    margin-bottom:1em;
}

#whosonfirst-basics {
    margin:0px;
    padding:0px;
    line-height: 1.6em;
    margin-top:1.5em;
    margin-bottom:2em;    
}

#whosonfirst-basics li {
    list-style-type: none;
    margin-bottom:.5em;
}

#whosonfirst-details {
    font-size: small;
    font-style: italic;
    margin-top: 1em;
    margin-bottom:1em;
}

#whosonfirst-properties-raw {
	background-color: #ccc;
	font-size:small;
	font-family:monospace;
	
}

#whosonfirst-properties-pretty {

}

#whosonfirst-status {
    text-align: right !important;
}

.anchor {
    font-size: small;
    margin-left:1em;
    font-weight: 100 !important;
    color: #666;
}

.raw-pretty {
    margin-top: -2.5em;
    float:right;
    border: none;
    background-color:transparent;
    padding:.5em;
    font-style:italic;
	color:#666;
}

.sect {
    margin-top:1em;
    margin-bottom: 2em;
}

.whosonfirst-pointers {
    display:inline;
    margin:0px;
    padding: 0px;
}    

.whosonfirst-pointers li {
    display:inline;
    list-style-type:none;
}    

.whosonfirst-pointers li:before {
    content: ", ";
}

.whosonfirst-pointers li:first-child:before {
    content: "" !important;
}    

.whosonfirst-status-current {

}

.whosonfirst-status-not-current {

}

.whosonfirst-status-deprecated {
    font-weight:700;
}

details-menu {
	padding-top:1rem;
}

	
