.whosonfirst-id {
    font-weight: 700;
}

.whosonfirst-country {

}

.whosonfirst-geometry {
    font-family:monospace;
    font-weight: 700;    
}

.whosonfirst-name {
    font-weight: 700;
}

.whosonfirst-placetype {

}

.whosonfirst-relpath {
    font-weight: 700;
}
