/* whosonfirst.spr.css */

body {
    padding: 2em;
    font-family:sans-serif;
    font-weight: 100 !important;
}

table {
    width: 100%;
}

table th {
    text-align:left;
}

table tr {
    border: solid thin;
    margin: 0px !important;
}

table th, td {
    padding: .5em;
    border: solid thin;
    margin: 0px !important;
    vertical-align: top;
}

table th {
    background-color: #ccc;
}

table td {
    border: none;
    padding-left: 1em;
}

table td ul  {
    margin: 0px;
    padding: 0px;
    line-height: 1.7em;
}

ul {
    margin:0px;
    padding:0px;
}

ul li {
    list-style-type:none;
    line-height:1.6em;
    margin-bottom:.5em;
}

table td ul li {
    list-style-type:none;
}

#footer {
    clear:both;
    margin-bottom: 3em;
}

#left-shark {
    align:top;
    float:left;
    min-width:50%;        
    max-width:50%;
    margin-right:2%;
    border-right: 1px #ccc solid;
}

#right-shark {
    align:top;
    float:left;
    min-width:45%;    
    max-width:45%;
}


#map {
    height: 350px;
    width: 100%;
    border: solid 3px #000;
    margin-bottom:1em;
}

#whosonfirst-basics {
    margin:0px;
    padding:0px;
    line-height: 1.6em;
    margin-top:1.5em;
    margin-bottom:2em;    
}

#whosonfirst-basics li {
    list-style-type: none;
    margin-bottom:.5em;
}

#whosonfirst-details {
    font-size: small;
    font-style: italic;
    margin-top: 1em;
    margin-bottom:1em;
}

#whosonfirst-properties-raw {
    background-color: #ccc;
}

#whosonfirst-properties-pretty {

}

#whosonfirst-status {
    text-align: right !important;
}

.raw-pretty {
    margin-top: -2.5em;
    margin-right: 1.5em;
    float:right;
    border: none;
    background-color:#fff;
    padding:.5em;
    font-style:italic;
    color:#666;
}

.sect {
    margin-top:1em;
    margin-bottom: 2em;
}

.whosonfirst-pointers {
    display:inline;
    margin:0px;
    padding: 0px;
}    

.whosonfirst-pointers li {
    display:inline;
    list-style-type:none;
}    

.whosonfirst-pointers li:before {
    content: ", ";
}

.whosonfirst-pointers li:first-child:before {
    content: "" !important;
}    

.whosonfirst-status-current {

}

.whosonfirst-status-not-current {

}

.whosonfirst-status-deprecated {
    font-weight:700;
}
