/* Tags */

/* Identifiers */

#controls {
	position:absolute;
	bottom:10px;
	right: 0px;
	width: 100% !important;
	background-color: #fff;
}

#controls .grid-view {
	gap: 10px 10px !important;
}

#controls .btn {
	border: solid;
	background-color: #fff;
}

#edit {
	max-height:80vh !important;
	overflow: scroll;
	position:relative;
}

#feedback {
	font-style:italic;
	margin-bottom:1rem;
}

#geojson {
	border:solid thin;
}

#map {
	height:80vh !important;
}

#save {
	border: solid;
}

#wof-properties-form {
	max-height: 67vh;
	overflow: scroll;
	padding: 1rem;
	border: 1px solid #000;
}

/* Classes */

.wof-property-block {
	margin-bottom:1rem;
}

.wof-property-block textarea {
	border: solid thin;
	height: 2rem;
}

/* Media queries */
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

@media only screen
   and (min-device-width: 320px)
   and (max-device-width: 1024px) {

	#controls {
		gap: 10px 10px !important;
	}
	   
	   #edit {
		   
		   /* why why why... ??? */
		   margin-left: -12px !important;
		margin-right: 12px !important;		   
	   }
	   
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

	#edit {
		height:40vh !important;
	}
	
	#map {
		height:40vh !important;
		border: solid;
	}

	.grid-view {
		gap: initial !important;
	}

	#wof-properties-form {
		max-height: 18vh !important;
	}
	  
  }

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

  }
