[Unit]
Description=Who's On First static data daemon
ConditionPathExists=/usr/local/bin/wof-staticd
After=network.target
 
[Service]
Type=simple
User=www-data
Group=www-data
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/wof-staticd -stuff -stuff -stuff

# These are (appear to be?) specific to Ubuntu and don't work, for
# example, on CentOS - I'm not sure entirely convinced that's true
# but I also haven't had time to really figure out what's going on
# (20180611/thisisaaronland)
#
# make sure log directory exists and owned by syslog
# PermissionsStartOnly=true
# ExecStartPre=/bin/mkdir -p /var/log/wof-staticd
# ExecStartPre=/bin/chown syslog:adm /var/log/wof-staticd
# ExecStartPre=/bin/chmod 755 /var/log/wof-staticd
# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=wof-staticd
 
[Install]
WantedBy=multi-user.target