{{ define "id" }}
<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{ .SPR.Name }} | {{ .SPR.Id }} | Who's On First</title>
      {{ template "inc_common_meta" }}
      <meta property="html:lastmodified" content="{{ .LastModified }}" />
	  
      <meta property="og:type" content="article" />
      <meta property="og:site_name" content="Who's On First" />
      <meta property="og:title" content="{{ .SPR.Name }} is a {{ .SPR.Placetype }} in {{ .SPR.Country}}" />
      <meta property="og:description" content="Its Who's On First ID is {{ .SPR.Id }}" />
      <meta property="og:image" content="{{ .Endpoints.Png }}{{ .SPR.Id }}?size=xsm" />
      
      <meta property="twitter:card" value="summary" />
      <meta property="twitter:site" content="@alloftheplaces" />
      <meta property="twitter:creator" content="@alloftheplaces" />
      <meta property="twitter:url" content="/id/{{ .SPR.Id }}" />
      <meta property="twitter:title" content="{{ .SPR.Name }} is a {{ .SPR.Placetype }} in {{ .SPR.Country}}" />
      <meta property="twitter:description" content="Its Who's On First ID is {{ .SPR.Id }}" />
      <meta property="twitter:image" content="{{ .Endpoints.Png }}{{ .SPR.Id }}?size=xsm" />
      
      <script src="/javascript/localforage.min.js"></script>	  
      <script src="/javascript/slippymap.crosshairs.js"></script>
      
      <script src="/javascript/whosonfirst.www.js"></script>	 
      <script src="/javascript/whosonfirst.render.js"></script>
      <script src="/javascript/whosonfirst.properties.js"></script>
      
      <script src="/javascript/whosonfirst.cache.js"></script>	 
      <script src="/javascript/whosonfirst.uri.js"></script>
      <script src="/javascript/whosonfirst.net.js"></script>
      <script src="/javascript/whosonfirst.namify.js"></script> 	 	 
      
      <script src="/javascript/whosonfirst.geojson.js"></script>	 
      <script src="/javascript/whosonfirst.leaflet.utils.js"></script>
      <script src="/javascript/whosonfirst.leaflet.styles.js"></script>
      <script src="/javascript/whosonfirst.leaflet.handlers.js"></script> 	 	 

      <script src="/javascript/whosonfirst.browser.maps.js"></script>	 
      <script src="/javascript/whosonfirst.browser.id.js"></script>
      <script src="/javascript/whosonfirst.browser.id.init.js"></script>	 
      
      {{ template "inc_common_css" }}

      <link rel="stylesheet" href="/css/whosonfirst.browser.id.css">
      
  </head>
  <body data-whosonfirst-uri-endpoint="{{ .Endpoints.Data }}">

      <div class="container">
      {{ template "inc_common_header" .}}

      <main class="whosonfirst" id="whosonfirst-place" data-whosonfirst-id="{{ .SPR.Id }}" data-whosonfirst-path="{{ .SPR.Path }}" data-whosonfirst-parent-id="{{ .SPR.ParentId }}" data-latitude="{{ .SPR.Latitude }}" data-longitude="{{ .SPR.Longitude }}" data-min-latitude="{{ .SPR.MinLatitude}}" data-min-longitude="{{ .SPR.MinLongitude }}" data-max-latitude="{{ .SPR.MaxLatitude}}" data-max-longitude="{{ .SPR.MaxLongitude }}">

	  <div class="container">

	      <div id="map" class="row">
		  <img src="{{ .Endpoints.Svg }}{{ .SPR.Id }}" style="width:inherit; height:inherit; max-height:90%; max-width:90%;" id="map-svg" />
	      </div>

	      <div class="row">
		  <h3>
		      {{ .SPR.Name }}
		  </h3>		  
	      </div>
	      
	      <div class="row">		  
		  {{ template "inc_id_basics" .}}
	      </div>
	      
	      <div class="row">

		  <div class="col">
		      {{ template "inc_id_status" .}}		      
		  </div>
		  
		  <div class="col">
		      <div id="whosonfirst-properties" class="sect">
			  <div id="whosonfirst-properties-pretty"></div>	  
			  <div id="whosonfirst-properties-raw"></div>
		      </div>
		  </div>
		  
	      </div>

	  </div>
      
      </main>

      {{ template "inc_common_footer" .}}

    </div>      
  </body>
</html>
{{ end }}
