{{define "inc_id_basics"}}
<h3>
    <span class="whosonfirst-name">{{ .SPR.Name }}</span>
    <span id="whosonfirst-place-dates"></span>
    is a
    <span class="whosonfirst-placetype">{{ .SPR.Placetype }}</span>
    in
    <span class="">{{ .SPR.Country}}</span>.
</h3>

<p>
    <small>
	{{ if eq .SPR.IsCurrent.StringFlag "1" }}
	<span class="whosonfirst-status-current">We believe this record to be current.</span>
	{{ else if eq .SPR.IsCurrent.StringFlag "0" }}
	<span class="whosonfirst-status-not-current">We no longer believe this record to be current.</span>
	{{ else }}
	{{ end }}	  
    </small>	
</p>

<div id="whosonfirst-details">

    {{ if eq .SPR.IsDeprecated.StringFlag "1" }}
    <span class="whosonfirst-status-deprecated">This record has been marked as deprecated.</span>
    {{ end }}
    
    {{ if eq .SPR.IsSuperseded.StringFlag "1" }}
	      
    This record has been superseded by the following records:
    <ul class="whosonfirst-pointers">
	{{ range $i, $s := .SPR.SupersededBy }}
	<li><a href="/id/{{ $s }}" class="whosonfirst-id whosonfirst-namify" data-whosonfirst-id="{{ $s }}">{{ $s }}</a></li>
	{{ end }}
    </ul>
    .
    
    {{ end }}
	      
    {{ if eq .SPR.IsSuperseding.StringFlag "1" }}
    
    This record supersedes the following records:
    <ul class="whosonfirst-pointers">
	{{ range $i, $s := .SPR.Supersedes }}
	<li><a href="/id/{{ $s }}" class="whosonfirst-id whosonfirst-namify" data-whosonfirst-id="{{ $s }}">{{ $s }}</a></li>
	{{ end }}
    </ul>
    .
    
    {{ end }}
</div>
	  
<div id="whosonfirst-basics">
    <p>Its Who's On First ID is <span class="whosonfirst-id">{{ .SPR.Id }}</span> and its relative URI is <a href="https://data.whosonfirst.org/{{ .SPR.Path }}" class="whosonfirst-relpath">{{ .SPR.Path }}</a>.</p>
	      
    {{ if eq .SPR.ParentId "-4" }}
    <p>This record's parent ID is <code>-4</code> which indicates it has <a href="#hierarchy">multiple parents</a> because <a href="https://github.com/whosonfirst/whosonfirst-properties/tree/master/properties/wof#parent_id">it happens sometimes</a>.</p>
    {{ else if eq .SPR.ParentId "-3" }}
    <p>This record's parent ID is <code>-3</code> which means it might legitimately have <a href="#hierarchy">multiple parents</a> because people <a href="https://github.com/whosonfirst/whosonfirst-properties/tree/master/properties/wof#parent_id">argue about this sort of thing</a>.</p>
    {{ else if eq .SPR.ParentId "-2" }}
    <p>This record's parent ID is <code>-1</code> which means we haven't bothered trying to pin down this record's <a href="#hierarchy">immediate parent</a> because <a href="https://github.com/whosonfirst/whosonfirst-properties/tree/master/properties/wof#parent_id">life is complicated</a></p>
    {{ else if eq .SPR.ParentId "-1" }}
    <p>This record's parent ID Is <code>-1</code> meaning we are <a href="https://github.com/whosonfirst/whosonfirst-properties/tree/master/properties/wof#parent_id">uncertain</a> which record parents this one.</p>
    {{ else }}
    <p>It is parented by <a href="/id/{{ .SPR.ParentId}}" class="whosonfirst-id whosonfirst-namify" data-whosonfirst-id="{{ .SPR.ParentId}}">Who's On First ID {{ .SPR.ParentId}}</a>.</p>
    {{ end }}
    
    <p>Its bounding box is <a href="#" class="whosonfirst-geometry whosonfirst-geometry-boundingbox">{{ .SPR.MinLatitude}}, {{ .SPR.MinLongitude }}, {{ .SPR.MaxLatitude}}, {{ .SPR.MaxLongitude }}</a></p>

    <p>Its principal centroid is <a href="#" class="whosonfirst-geometry whosonfirst-geometry-centroid">{{ .SPR.Latitude }}, {{ .SPR.Longitude }}</a>.</p>
    
</div>
{{end}}
